<div class="col-12 register-right ">
    <a class="close" href="/student">×</a>

    <h3>Student Information</h3>

    <div class="row">

        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

            <div class="row register-form ">

                <div class="col-4">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="First Name *" value="" />
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Father Name *" value="" />
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Father Phone No." value="" />
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Adress *" value="" />
                    </div>

                    <div class="form-group ">
                        <select class="form-control ">
                            <option class="hidden "  selected disabled>Religion</option>
                            <option>Hindu</option>
                            <option>Muslim</option>
                            <option>Christian</option>
                            <option>Sik</option>
                            <option>Other</option>
                        </select>

                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="City" value="" />
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control " placeholder=" D.O.B " />
                    </div>

                    <div class="form-group ">
                        <select class="form-control ">
                          <option class="hidden "  selected disabled>Class</option>
                          <option>1</option>
                          <option>2</option>
                          <option>3</option>
                          <option>4</option>
                          <option>5</option>
                          <option>6</option>
                          <option>7</option>
                          <option>8</option>
                          <option>9</option>
                          <option>10</option>
                      </select>
                    </div>
                </div>
                <div class="col-4 ">
                    <div class="form-group ">
                        <input type="text " class="form-control " placeholder="Middle Name * " value=" " />
                    </div>
                    <div class="form-group ">
                        <input type="text " class="form-control " placeholder="Mother Name " value=" " />
                    </div>
                    <div class="form-group ">
                        <input type="text " class="form-control " placeholder="Mother Phone No. " value=" " />
                    </div>
                    <div class="form-group ">
                        <input type="text " class="form-control " placeholder="District " value=" " />
                    </div>
                    <div class="form-group ">
                        <input type="text " class="form-control " placeholder="Location " value=" " />
                    </div>
                    <div class="form-group ">
                        <input type="text " class="form-control " placeholder="Postalcode " value=" " />
                    </div>
                    <div class="form-group ">
                        <select class="form-control ">
                            <option class="hidden "  selected disabled>Geder </option>
                            <option>Male</option>
                            <option>Female</option>
                            <option>Other</option>
                        </select>
                    </div>
                    <div class="form-group ">
                        <select class="form-control ">
                          <option class="hidden "  selected disabled>Section</option>
                          <option>A</option>
                          <option>B</option>
                          <option>C</option>
                          <option>D</option>
                          <option>E</option>
                          <option>F</option>
                      </select>
                    </div>
                </div>
                <div class="col-4 ">
                    <div class="form-group ">
                        <input type="text " class="form-control " placeholder="Last Name * " value=" " />
                    </div>
                    <div class="form-group ">
                        <input type="text " class="form-control " placeholder="Father Email * " value=" " />
                    </div>
                    <div class="form-group ">
                        <input type="text " class="form-control " placeholder="Mother Email " value=" " />
                    </div>
                    <div class="form-group ">
                        <input type="text " class="form-control " placeholder="Student Phone No. " value=" " />
                    </div>
                    <div class="form-group ">
                        <input type="text " class="form-control " placeholder="State " value=" " />
                    </div>
                    <div class="form-group ">
                        <input type="text " class="form-control " placeholder="Nationality " value=" " />
                    </div>
                    <div class="form-group ">
                        <input type="text " class="form-control " placeholder="Country " value=" " />
                    </div>

                    <div class="form-group ">
                        <select class="form-control ">
                            <option class="hidden "  selected disabled> Blood Group </option>
                            <option>O</option>
                            <option>O+</option>
                            <option>A</option>
                            <option>A+</option>
                            <option>B</option>
                            <option>B+</option>
                        </select>
                    </div>


                    <input type="submit " class="btnRegister " (click)="onSubmit() " value="Submit " />
                </div>
            </div>
        </div>


    </div>