.mat-form-field+.mat-form-field {
    margin-left: 8px;
}

.example-headers-align .mat-form-field+.mat-form-field {
    margin-left: 8px;
}

.mat-form-field+.mat-form-field {
    margin-left: 10px;
    justify-content: space-between;
}

table {
    width: 100%;
}

.mat-from-field {
    width: 100%;
}
