<mat-toolbar>
    <span>Student</span>
</mat-toolbar>

<mat-accordion>
    <!-- (opened)="panelOpenState = true" (closed)="panelOpenState = false" -->
    <mat-expansion-panel  [expanded]="step === 0" (opened)="setStep(0)">
        <mat-expansion-panel-header>
            <mat-panel-title>
                General Information
            </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-form-field>
            <mat-label>First Name</mat-label>
            <!-- <input matInput> -->
            <input matInput placeholder="John" [formControl]="sfirstName" required>
            <mat-error *ngIf="sfirstName.invalid">{{getFirstNameError()}}</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Middle Name</mat-label>
            <input matInput placeholder="Kumar" [formControl]="sMiddleName">
            <mat-error *ngIf="sMiddleName.invalid">{{getMiddleNameError()}}</mat-error>
            <!-- <input matInput> -->
        </mat-form-field>
        <mat-form-field>
            <mat-label>Last Name</mat-label>
            <!-- <input matInput> -->
            <input matInput placeholder="Lama" [formControl]="sLastName" required>
            <mat-error *ngIf="sLastName.invalid">{{getLastNameError()}}</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Father Name</mat-label>
            <!-- <input matInput> -->
            <input matInput placeholder="Evin Lama" [formControl]="sFatherName" required>
            <mat-error *ngIf="sFatherName.invalid">{{getFatherNameError()}}</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Mother Name</mat-label>
            <!-- <input matInput> -->
            <input matInput placeholder="Jina Lama" [formControl]="sMotherName" required>
            <mat-error *ngIf="sMotherName.invalid">{{getMotherNameError()}}</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Guardian Name</mat-label>
            <input matInput placeholder="Evin Lama" [formControl]="sGuardianName" required>
            <mat-error *ngIf="sGuardianName.invalid">{{getGurdianNameError()}}</mat-error>
            <!-- <input matInput> -->
        </mat-form-field>
        <mat-form-field>
            <mat-label>Guardian Mobile no</mat-label>
            <input matInput placeholder="7406634617" [formControl]="sGuardianPhone" required>
            <mat-error *ngIf="sGuardianPhone.invalid">{{getGuardianPhoneError()}}</mat-error>
            <!-- <input matInput> -->
        </mat-form-field>
        <mat-form-field>
            <mat-label>Guardian Email</mat-label>
            <input matInput placeholder="evin@gmail.com" [formControl]="sGuardianEmail" required>
            <mat-error *ngIf="sGuardianEmail.invalid">{{getGUardianEmailError()}}</mat-error>
            <!-- <input matInput> -->
        </mat-form-field>
        <mat-form-field>
            <mat-label>Student Mobile no.</mat-label>
            <input matInput placeholder="8765432098" [formControl]="sStudentPhoneNo" required>
            <mat-error *ngIf="sStudentPhoneNo.invalid">{{getStudentPhoneError()}}</mat-error>
            <!-- <input matInput> -->
        </mat-form-field>
        <mat-form-field>
            <mat-label>Date of Birth</mat-label>
            <input matInput [matDatepicker]="picker" 
            (dateChange)="onDateChange($event)"
            [formControl]="sDateOfBirth" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="sDateOfBirth.invalid">{{getDateOfBirthError()}}</mat-error>
            <!-- <input matInput> -->
        </mat-form-field>
        <mat-form-field>
            <mat-label>Blood Group</mat-label>
            <mat-select (selectionChange)="onChangeBlood($event)" [formControl]="sBloodGroup" required>
                <mat-option *ngFor='let blood of bloodGroupArr' [value]="blood">{{blood}}</mat-option>
            </mat-select>
            <mat-error *ngIf="sBloodGroup.errors">{{getBloodGroupError()}}</mat-error>
            <!-- <input matInput> -->
        </mat-form-field>
        <mat-form-field>
            <mat-label>Gender</mat-label>
            <mat-select (selectionChange)="onChangeGender($event)" [formControl]="sGender" required>
                <mat-option *ngFor='let gender of genderArr' [value]="gender">{{gender}}</mat-option>
            </mat-select>
            <mat-error *ngIf="sGender.errors">{{getGenderError()}}</mat-error>
            <!-- <input matInput> -->
        </mat-form-field>
        <mat-form-field>
            <mat-label>Religion</mat-label>
            <mat-select (selectionChange)="onChangeReligion($event)"[formControl]="sReligion" required>
                <mat-option *ngFor='let religion of relegionArr' [value]="religion">{{religion}}</mat-option>
            </mat-select>
            <mat-error *ngIf="sReligion.invalid">{{getReligionMessageError()}}</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Class</mat-label>
            <mat-select [(ngModel)]="className" (selectionChange)="onChangeClass($event)" [formControl]="sClass" required>
                <mat-option *ngFor='let class of classSectionArr' [value]="class.getClassId()">{{class.getClassName()}}</mat-option>
            </mat-select>
            <mat-error *ngIf="sClass.invalid">{{getClassError()}}</mat-error>
            <!-- <input matInput> -->
        </mat-form-field>
        <mat-form-field>
            <mat-label>Section</mat-label>
            <mat-select (selectionChange)="onChangeSection($event)" [formControl]="sSection">
                <mat-option *ngFor='let section of sectionArr' [value]="section.sectionId">{{section.sectionHouseName}}</mat-option>
            </mat-select>
            <mat-error *ngIf="sSection.invalid">{{getSectionError()}}</mat-error>
        </mat-form-field>
        
        <mat-form-field>
            <mat-label>Emergency Phone No</mat-label>
            <input matInput placeholder="8790876543" [formControl]="sEmergencyPhone" required>
            <mat-error *ngIf="sEmergencyPhone.invalid">{{getEmergencyPhone()}}</mat-error>
            <!-- <input matInput> -->
        </mat-form-field>
       
        <mat-action-row>
            <button mat-button color="primary" (click)="saveGenInfo()">Next</button>
        </mat-action-row>
    </mat-expansion-panel>
</mat-accordion>
<br>
<mat-accordion>
    <!-- (opened)="addressInfoPannel = true" (closed)="addressInfoPannel = false" -->
    <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Address Information
            </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-form-field>
            <mat-label>Address</mat-label>
            <input matInput placeholder="Locality name" [formControl]="sAddress" required>
            <mat-error *ngIf="sAddress.invalid">{{getAddressError()}}</mat-error>
            <!-- <input matInput> -->
        </mat-form-field>
        <mat-form-field>
            <mat-label>Dist</mat-label>
            <input matInput placeholder="Dist name" [formControl]="sDist" required>
            <mat-error *ngIf="sDist.invalid">{{getDistError()}}</mat-error>
            <!-- <input matInput> -->
        </mat-form-field>
        <mat-form-field>
            <mat-label>Location</mat-label>
            <input matInput placeholder="State name" [formControl]="sLocation">
            <!-- <input matInput [(ngModel)]="location"> -->
        </mat-form-field>
        <mat-form-field>
            <mat-label>State</mat-label>
            <input matInput placeholder="State name" [formControl]="sState" required>
            <mat-error *ngIf="sState.invalid">{{getStateError()}}</mat-error>
            <!-- <input matInput> -->
        </mat-form-field>
        <mat-form-field>
            <mat-label>City</mat-label>
            <input matInput placeholder="City name" [formControl]="sCity" required>
            <mat-error *ngIf="sCity.invalid">{{getCityError()}}</mat-error>
            <!-- <input matInput> -->
        </mat-form-field>
        <mat-form-field>
            <mat-label>Postal Code</mat-label>
            <input matInput placeholder="6 Digit number" [formControl]="sPostalCode" required>
            <mat-error *ngIf="sPostalCode.invalid">{{getPostalCodeError()}}</mat-error>
            <!-- <input matInput> -->
        </mat-form-field>
        <mat-form-field>
            <mat-label>Nationality</mat-label>
            <input matInput placeholder="Citigen of" [formControl]="sNationality" required>
            <mat-error *ngIf="sNationality.invalid">{{getNationalityError()}}</mat-error>
            <!-- <input matInput> -->
        </mat-form-field>
        <mat-form-field>
            <mat-label>Country</mat-label>
            <input  matInput placeholder="Country name" [formControl]="sCountry" required>
            <mat-error *ngIf="sCountry.invalid">{{getCountryError()}}</mat-error>
            <!-- <input matInput> -->
        </mat-form-field>
        <mat-action-row>
            <button mat-button color="primary" (click)="saveStudent()">Submit</button>
        </mat-action-row>
    </mat-expansion-panel>
</mat-accordion>

<br>
<mat-card>
    <mat-form-field>
        <mat-label>Search</mat-label>
        <input matInput placeholder="Search" (keyup)="applyFilter($event)">
    </mat-form-field>
    <div class="example-container mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="index" sticky>
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Sl.no</th>
                <td mat-cell *matCellDef="let row">{{row.index}}</td>
            </ng-container>
            <ng-container matColumnDef="regdNo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Registration&nbsp;No</th>
                <td mat-cell *matCellDef="let row">{{row.regdNo}}</td>
            </ng-container>
            <ng-container matColumnDef="firstName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>First&nbsp;Name</th>
                <td mat-cell *matCellDef="let row">{{row.firstName}}</td>
            </ng-container>
            <ng-container matColumnDef="middleName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Middle&nbsp;Name</th>
                <td mat-cell *matCellDef="let row">{{row.middleName}}</td>
            </ng-container>
            <ng-container matColumnDef="lastName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Last&nbsp;Name</th>
                <td mat-cell *matCellDef="let row">{{row.lastName}}</td>
            </ng-container>
            <ng-container matColumnDef="dob">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Date&nbsp;of&nbsp;Birth</th>
                <td mat-cell *matCellDef="let row">{{row.dob}}</td>
            </ng-container>
            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
                <td mat-cell *matCellDef="let row">{{row.email}}</td>
            </ng-container>
            <ng-container matColumnDef="religion">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Religion</th>
                <td mat-cell *matCellDef="let row">{{row.religion}}</td>
            </ng-container>
            <ng-container matColumnDef="nationality">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Nationality</th>
                <td mat-cell *matCellDef="let row">{{row.nationality}}</td>
            </ng-container>
            <ng-container matColumnDef="gender">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Gender</th>
                <td mat-cell *matCellDef="let row">{{row.gender}}</td>
            </ng-container>
            <ng-container matColumnDef="bloodGrp">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Blood&nbsp;Group</th>
                <td mat-cell *matCellDef="let row">{{row.bloodGrp}}</td>
            </ng-container>
            <ng-container matColumnDef="studentPhoneNo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Student&nbsp;Phone</th>
                <td mat-cell *matCellDef="let row">{{row.studentPhoneNo}}</td>
            </ng-container>
            <ng-container matColumnDef="address1">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Current&nbsp;Address</th>
                <td mat-cell *matCellDef="let row">{{row.address1}}</td>
            </ng-container>
            <ng-container matColumnDef="address2">
            
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Permanent&nbsp;Address</th>
                <td mat-cell *matCellDef="let row">{{row.address2}}</td>
            </ng-container>
            <ng-container matColumnDef="district">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>District</th>
                <td mat-cell *matCellDef="let row">{{row.district}}</td>
            </ng-container>
            <ng-container matColumnDef="city">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>City</th>
                <td mat-cell *matCellDef="let row">{{row.city}}</td>
            </ng-container>
            <ng-container matColumnDef="postalcode">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Postal&nbsp;Code</th>
                <td mat-cell *matCellDef="let row">{{row.postalcode}}</td>
            </ng-container>
            <ng-container matColumnDef="location">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Location</th>
                <td mat-cell *matCellDef="let row">{{row.location}}</td>
            </ng-container>
            <ng-container matColumnDef="state">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>State</th>
                <td mat-cell *matCellDef="let row">{{row.state}}</td>
            </ng-container>
            <ng-container matColumnDef="country">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Country</th>
                <td mat-cell *matCellDef="let row">{{row.country}}</td>
            </ng-container>
            <ng-container matColumnDef="fatherName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Father&nbsp;Name</th>
                <td mat-cell *matCellDef="let row">{{row.fatherName}}</td>
            </ng-container>
            <ng-container matColumnDef="motherName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Mother&nbsp;Name</th>
                <td mat-cell *matCellDef="let row">{{row.motherName}}</td>
            </ng-container>
            <ng-container matColumnDef="guardianName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Guardian&nbsp;Name</th>
                <td mat-cell *matCellDef="let row">{{row.guardianName}}</td>
            </ng-container>
            <ng-container matColumnDef="guardianPhoneNo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Guardian&nbsp;Phone&nbsp;no</th>
                <td mat-cell *matCellDef="let row">{{row.guardianPhoneNo}}</td>
            </ng-container>
            <ng-container matColumnDef="className">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Class&nbsp;Name</th>
                <td mat-cell *matCellDef="let row">{{row.className}}</td>
            </ng-container>
            <ng-container matColumnDef="sectionHouseName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Section&nbsp;Name</th>
                <td mat-cell *matCellDef="let row">{{row.sectionHouseName}}</td>
            </ng-container>
    
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Actions</th>
                <td mat-cell *matCellDef="let row">
                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon>more_vert</mat-icon>
              </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="updateStudent(row.index)">
                                <mat-icon>edit</mat-icon>
                                <span>Edit</span>
                        </button>
                        <button mat-menu-item (click)="deleteStudent(row.index)">
                                <mat-icon>delete</mat-icon>
                                <span>Delete</span>
                        </button>
                    </mat-menu>
                </td>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="dataColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: dataColumns;"></tr>
        </table>
        <mat-paginator [length]="studentRowDataArr.length" [pageSize]="5" [pageSizeOptions]="[1,5, 10, 25, 100]">
        </mat-paginator>
    </div>
</mat-card>