.container {
    background-color: rgba(243, 237, 237, 0.972);
    height: 100px;
    padding: 5px;
    text-align: center;
    img {
        border-radius: 5px;
        background-color: #ffffff00;
        height: 50px;
    }
    p {
        margin: 0px;
        white-space: 20px;
        color: #0046be;
    }
}

.school_logo {
    background-color: #0609a5;
    height: 100px;
    padding: 10px;
    font-size: large;
    text-align: center;
    img {
        border-radius: 5px;
        background-color: #ffffff00;
        height: 35px;
    }
    h1 {
        margin: 0px;
        white-space: 20px;
        color: #ffffff;
    }
    p {
        margin: 0px;
        white-space: 20px;
        color: #ffffff;
    }
}

.containers {
    img {
        border-radius: 5px;
        background-color: #ecf0f7;
        height: 57px;
    }
    p {
        margin: 0px;
        white-space: 20px;
        color: #0046be;
    }
}

.containers2 {
    background-color: #fff;
    height: 100px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    img {
        border-radius: 5px;
        background-color: #ecf0f7;
        height: 57px;
    }
    p {
        margin: 0px;
        white-space: 20px;
        color: #0046be;
    }
}
// .col{
    // border: 1px solid black;
//  }
//  .background_child_info{
    // background-color: #ffffff;
//  }
//  .background_holiday{
    // background-color: #ffffff;
//  }
//  .background_leaves{
    // background-color: #ffffff;
//  }
//  .background_attendence{
    // background-color: #ffffff;
//  }
//  .background_assignment{
    // background-color: #ffffff;
//  }
//  .background_syllabus{
    // background-color: #ffffff;
//  }