.mat-form-field+.mat-form-field {
    margin-left: 8px;
}

.example-headers-align .mat-form-field+.mat-form-field {
    margin-left: 8px;
}

.mat-form-field+.mat-form-field {
    margin-left: 8px;
    justify-content: space-between;
}

table {
  width: 100%;
}

tr.student-detail-row {
  height: 0;
}

tr.student-element-row:not(.student-expanded-row):hover {
  background: whitesmoke;
}

tr.student-element-row:not(.student-expanded-row):active {
  background: #efefef;
}

.student-element-row td {
  border-bottom-width: 0;
}

.student-element-detail {
  overflow: hidden;
  display: flex;
  align-items: left;
  
  
  
}

.student-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.student-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.student-element-description {
  padding: 16px;
}

.student-element-description-attribution {
  opacity: 0.5;
}