.header-row {
    font-weight: 500;
    border-bottom: 1px solid rgb(177, 210, 211);
}

.data-table {
    border-bottom: 1px solid rgb(86, 182, 185);
}

// ion-row {
//     height: 55px;
//     // font-size: larger;
//     font-size: 18px;
// }
.bgcolor {
    background: #003692;
    color: #ffffff;
    text-align: center;
}

ion-col {
    border: 1px solid #09024b;
}