<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-button color="light" (click)="goBack()">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Exam Table</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
        <ion-label>Child Name</ion-label>
        <ion-note slot="end" color="primary">{{childName}}</ion-note>
    </ion-item>
    <br>
    <ion-item>
        <ion-row color="primary" class="ion-text-center">{{Exam}}</ion-row>
    </ion-item>

    <ion-grid>
        <ion-row>
            <ion-col class="bgcolor ion-text-center" size="4">Date</ion-col>
            <ion-col class="bgcolor ion-text-center" size="4">Subject</ion-col>
            <ion-col class="bgcolor ion-text-center" size="4">Time</ion-col>
        </ion-row>
        <ion-row *ngFor="let examTable of examScheduleArr">
            <ion-col size="4" class="ion-text-center"> {{ examTable.getDate() }}</ion-col>
            <ion-col size="4" class="ion-text-center"> {{ examTable.getSubjectName() }}</ion-col>
            <ion-col size="4"> {{ examTable.getStartTime() + " - " + examTable.getEndTime()}}</ion-col>
        </ion-row>
    </ion-grid>