<mat-nav-list>
    <br>
    <div class="profile-card">
        <img mat-card-image src="assets/img/img2.png" alt="">
        <div class="header">
            <h2>Administrate</h2>
            <!-- <h2>Santosh Patnaik</h2> -->
            <!-- <h4>santosh@cognis.com</h4> -->
        </div>
    </div>
    <mat-divider></mat-divider>
    <!-- <h2 matSubheader>Adminstration</h2> -->
    <!-- <h2 matSubheader>Administrator</h2> -->
    <!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">Dashboard</a> -->
    <!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="/parent">Parents</a> -->
    <!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="/teacher">Teachers</a> -->
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/student">Student</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/staff">Teaching Staff</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/non-teaching-staff">Non Teaching Staff</a>

    <mat-divider></mat-divider>
    <h2 matSubheader style="color:rgb(23, 172, 231)">Manage</h2>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/manage-section">Section</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/manage-class">Class</a>
    
    <!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="/manage-syllabus">Syllabus</a> -->
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/manage-subject">Subject</a>
    <!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="/manage-assignment">Assignment</a> -->
    <!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="/manage-attendance">Attendance</a> -->
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/manage-circular">Circular</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/manage-exam-schedule">Exam Schedule</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/manage-exam-result">Exam Result </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/manage-fees">Fees</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/manage-fees-details">Fee Details</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/manage-gallery">Gallery</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/manage-holiday">Holiday</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/manage-leave">Leave</a>
    <!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="/subject-teacher">Subject Teacher</a> -->
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/daily-class">Daily Class</a>
</mat-nav-list>